@use "../utils/mixins" as *
@use "../utils/variables" as *


 
@media (max-width: 1380px)
    .flex-start_search-bar_input
        #input
            width: 320px

@media (max-width: 1300px) 
    #main-id
        display: grid
        grid-template-columns: 335px 1fr 
        height: 80dvh
    .main_aside
        width: 330px
        height: 592px
        .aside-section   
            width: 330px
            height: 592px
        .aside-section_middle 
            width: 320px
            height: 270px
            .middle_podcast
                height: 170px

    .rows_cards-section--mq
        gap: 2px
        .rows_cards-section_card
            display: grid 
            grid-template-rows: 160px 20px 50px
            gap: 6px
            .cards-section_card_thumbnail
                width: 160px
                height: 160px
                .thumbnails
                    width: 160px
                    height: 160px
            .cards-section_card_name
                font-size: $font-small
            .cards-section_card_artist
                font-size: $font-very-small


    .flex-start_search-bar_input 
        #input 
            width: 270px
    .main_footer_content
        .footer_content_column
            font-size: $font-very-small

@media (max-width: 1234px)
    .flex-start_search-bar_input
        #input
            width: 230px

@media (min-width: 1190px) 
    .flex-start_search-bar _input
        #input
            width: 200px
            background-color:  #FFFF                        ///AAAAAAAAAAAAAAAA ME VOY A MATARARRRRRRRRRRRRRRRRRRAGESJDPSHDSIDHE98FHSEU

@media (max-width: 1189px) 
    .footer_text
            gap: 8px
    .flex-start_search-bar_input
        display: block
        width: 49px
        .search-bar_input_search-logo
            @include flex-box
            padding: 0
        #search-logo
            margin-top: 10px
        #input
            width: 0
            height: 0
        .search-bar_explorer-icon
            display:  block
            border: 0
            width: 0
            height: 0
        #explorer-icon
            display: none
            width: 0
            height: 0

@media (max-width: 1100px)
    #main-id
        display: grid
        grid-template-columns: 308px 1fr 
        height: 80dvh
    .main_aside
        width: 300px
        height: 592px
        .aside-section   
            width: 310px
            height: 592px
        .aside-section_middle 
            width: 292px
            height: 270px
        .footer_text
            gap: 8px
       

    
            
    