@use "../utils/mixins" as *
@use "../utils/variables" as *

// tamaño tablet 1000px-856px // 

@media (max-width: 1000px)
  .main-section--lyt
    .main_footer
      .main_footer_content
        padding-top: 30px 

  .nav-section_flex-end_buttons-1
    #premium
        font-size: $font-small
    #ayuda
        font-size: $font-small
    #descargar
        font-size: $font-small

  .flex-end_buttons-2_btn-3
        height: 48px
        width: 130px

@media (max-width: 856px)
    @include aside-ajust(250px,245px ,245px ,235px ,270px ,170px)
    
    .footer_content_column_svg
        padding-left: 0 
        flex-direction: column
    .middle_playlist
        height: 170px
    .aside-section_footer
        padding-right: 12px
    .footer_text
        margin-left: 14px
    .nav-section_flex-end
        .flex-end_buttons-1_btn-3
            display: none
            width: 0
            height: 0
        .nav-section_flex-end_buttons-2
            gap: 12px
        .flex-end_buttons-2_btn-3
            height: 40px
            width: 110px
      