/* mixins */
    
@mixin flex-box
  display: flex
  place-items: center
  place-content: center
  flex-direction: row

@mixin flex-box-beetween
  display: flex
  justify-content: space-between
  align-items: center

@mixin flex-box-start
  display: flex
  align-items: start
  flex-direction: row

@mixin flex-box-end
  display: flex
  align-items: center
  text-align: center
  flex-direction: row

@mixin grid-main-content-lyt
  display: grid
  grid-template-columns: 432px 1fr //no tiene un tamaño fijo es 1fr
  height: 80dvh

@mixin grid-main-content-rows-lyt
  display: grid
  grid-template-rows: 56px 280px

@mixin main_aside-size
  height: 80%
  width: 80%

@mixin scrollbar-Y
  overflow-y: auto
  scrollbar-color: #b3b3b3 #232323
  scrollbar-width: thin

@mixin cards-scrollbar
  overflow-x: scroll
  overflow-y: hidden

@mixin off-borders-backgrounds
  background: none
  border: none

@mixin very-small
  width: 16px
  height: 16px

@mixin small
  width: 24px  
  height: 24px

@mixin xl-small
  width: 28px
  height: 28px

@mixin mid
  width: 32px
  height: 32px

@mixin big
  width: 42px
  height: 42px

@mixin v-big
  width: 46px
  height: 46px

@mixin thumbnail-size
  width: 180px
  height: 180px

