@use "../utils/variables" as *
@use "../utils/mixins" as *
  
  
  
.nav-section 
  @include flex-box
  justify-content: space-between
  


/*Navbar Flexs */

.nav-section_flex-start
  @include flex-box-start
  gap: $gapping
  padding: 8px
  margin-left: 17px

/*Navbar-Flex Start*/

.nav_section_flex-start_spotify
  @include flex-box
  padding-top: 6px
  gap: $gapping
  #spotify-logo
    @include mid
    margin-right: 18px

/* barra de busqueda/Search bar */

.flex-start_search-bar
  @include flex-box   
  gap: $gapping
  .flex-start_search-bar_home-logo
    display: flex
    justify-content: center
    align-items: center
    border-radius: $borders-radius
    background: $background-elements
    &:hover
      .flex-start_search-bar_home-logo_svg
        #Dribbble-Light-Preview
          fill:#fff
  .flex-start_search-bar_home-logo_svg
    @include v-big
    padding: 10px

.flex-start_search-bar_input
  @include flex-box
  justify-content: center
  background-color: $background-elements
  border-radius: $borders-radius
  padding: 0
  height: 48px
  &:hover 
    background-color: #373636
    transition: background-color 0.5s
  &:active
    border: 2px solid $white-color
    #search-logo
      stroke: #d3caca
      transition: stroke 0.5s
  .search-bar_input_search-logo
    padding-left: 12px
    padding-right: 12px
  #search-logo
    width: 25px
    height: 25px

  /* input */

  #input
    outline: #0000
    background: none
    border: none
    width: 420px
    padding: 2px
    font-size: $font-mid
    color: $text-gray-color
    &:focus
      .flex-start_search-bar_input
        border: 2px solid $white-color
  .search-bar_explorer-icon
    gap: 7px
    padding-left: 5px
    padding-right: 14px
    border-left: 1px solid $text-gray-color
    #explorer-icon
      @include mid
      fill: $text-gray-color
      padding-left: 7px
      padding-top: 5px

/* flex end */

.nav-section_flex-end
  @include flex-box
  justify-content: center
  margin-right: 17px
  gap: 54px

/* btn-1 */

.flex-end_buttons-1_btn-1
  @include off-borders-backgrounds
  gap: 12px
  #premium
    color: $text-gray-color
    font-size: $font-mid
    &:hover
      color: $white-color
      scale: 1.1
.flex-end_buttons-1_btn-2
  @include off-borders-backgrounds
  #ayuda
    color: $text-gray-color
    font-size: $font-mid
    &:hover
      color: $white-color
      scale: 1.1
.flex-end_buttons-1_btn-3
  @include off-borders-backgrounds
  #descargar
    color: $text-gray-color
    font-size: $font-mid
    &:hover
      color: $white-color
      scale: 1.1



/* btn-2 */

.nav-section_flex-end_buttons-2
  @include flex-box
  gap: 28px
  

.flex-end_buttons-2_btn-1
  @include off-borders-backgrounds
  @include flex-box
  color: $text-gray-color
  .flex-end_buttons-2_btn-1_svg   //svg//
    @include small
  #app
    font-size: $font-small
.flex-end_buttons-2_btn-2
  @include off-borders-backgrounds
  #register
    font-size: $font-small
    color: $text-gray-color
.flex-end_buttons-2_btn-3
  @include off-borders-backgrounds
  border-radius: $borders-radius
  border-color: $white-color
  #login
    font-size: $font-mid
    color: $text-gray-color


    
  
