@use "componentes/Navbar"
@use "componentes/aside"
@use "componentes/main"
@use "utils/mixins" as grid-main-content-lyt
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sawarabi+Gothic&display=swap');
* 
  margin: 0
  padding: 0
  box-sizing: border-box
  
body  
  background-color: #000000
  font-family: 'Nunito', sans-serif
  overflow: hidden 
  font-weight: 580
  .main 
    @include grid-main-content-lyt.grid-main-content-lyt
   